@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  :root {
    --cursor-color: var(--color-zinc-600);
  }

  :root[class~="dark"] {
    --cursor-color: var(--color-zinc-300);
  }
}

@theme {
  --font-text: var(--font-eb-garamond), serif;
}
